body
{
    color:rgb(168, 180, 192);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    background-color:  rgb(53,70,86);
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: rgb(171, 131, 112);
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: rgb(223, 228, 233);
    font-weight: bold;
    margin: 10;
    padding: 0.5em;
}
#cabecera #logo
{
    width: 30px;
    vertical-align: middle;
}
#cabecera #tagline
{
    padding: 0 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(133, 96, 78);
    margin: 0 auto;
}
#container h1
{
    font-size: 25px;
}
#post
{
    padding: 1em;
}